{% load staticfiles %}
<!doctype html>
<html>
<head>
	<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css"/>	
	<meta charset="UTF-8">
	<title>Cветильники в Иркутске!</title>
</head>
<body>
<div id="workarea">
	<div id="header">
		<div id="header_menu">
			<div class="button_header_menu"></div>
			<div class="button_header_menu"></div>
			<div class="button_header_menu"></div>			
		</div>
		<div id="head_title">
			
		</div>
		<div id="logo">
			
		</div>			
	</div>
	<div id="main">		
		<div id="left_column">
			<div class="left_menu" id="left_menu1">
				<div class="title_left_menu">Меню</div>
				<div class="item_left_menu">Главная</div>
				<div class="item_left_menu">Контакты</div>
				<div class="item_left_menu">Купить</div>
				<div class="footer_left_menu"></div>				
			</div>
			<div class="left_menu" id="left_menu2">
				<div class="title_left_menu">Каталог</div>
				<div class="item_left_menu">Главная</div>
				<div class="item_left_menu">Контакты</div>
				<div class="item_left_menu">Купить</div>
				<div class="item_left_menu">Главная</div>
				<div class="item_left_menu">Контакты</div>
				<div class="item_left_menu">Купить</div>
				<div class="footer_left_menu"></div>				
			</div>
		</div>			
		<div id="content">
		конттент	
		</div>
	</div>
</div>	
</body>
</html>